.forkio-pricing {
    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 87%;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        display: block;
        background-color: #645766;
        @include breakpoint(md-up) {
            max-width: 780px;
        }
    }
    &__heading {
        font-size: $font-28;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 32px;
        @include breakpoint(md-only) {
            font-size: $font-42;
            margin-bottom: 39px;
        }
        @include breakpoint(lg-only) {
            font-size: $font-48;
            margin-bottom: 61px;
        }
    }
    &__container {
        display: flex;
        justify-content: center;
        @include breakpoint(md-only) {
            margin: 0 auto;
        }
        @include breakpoint(lg-only) {
            margin: 0 auto;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        @include breakpoint(md-only) {
            display: grid;
            grid-template-columns: repeat(2, minmax(20px, 1fr));
            gap: 30px 25px;
            justify-items: end;
        }
        @include breakpoint(lg-only) {
            display: grid;
            grid-template-columns: 1fr 1fr 1.2fr 1fr;
            justify-content: center;
            align-items: center;
            column-gap: 15px;
        }
    }
    &__item {
        width: 100%;
        max-width: 257px;
        min-width: 209px;
        height: 457px;
        margin-bottom: 18px;
        border: none;
        color: white;
        background-color: rgba(225, 225, 225, 0.15);
        &--special {
            background-color: rgba(0, 0, 0, 0.15);
            background: #463048;
            max-width: 299px;
            min-width: 280px;
            height: 560px;
        }
    }
    &__type {
        font-size: $font-24;
        padding: 36px 0;
        text-align: center;
        text-transform: uppercase;
        background: rgba(39, 19, 19, 0.08);
    }
    &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__number {
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        &--special {
            font-size: $font-82;
        }
    }
    &__period {
        font-size: $font-14;
        text-transform: uppercase;
        &::after {
            content: "";
            width: 60px;
            height: 5px;
            display: block;
            margin: 38px auto 30px;
            background-color: $lavenderPurple;
        }
    }
    &__services {
        text-align: center;
        text-transform: capitalize;
        font-size: $font-16;
        height: 45px;
        margin-bottom: 37px;
        &--special {
            margin-bottom: 83px;
        }
    }
    &__button {
        padding: 15px 37px;
        font-size: $font-15;
        background-color: rgba(225, 225, 225, 0.15);
        border-radius: 26px;
        cursor: pointer;
    }
}