.btn {
  font-style: $font-15;
  font-weight: bold;
  color: $white;
  background: $main-color;
  border-radius: 40px;
  border: 2px solid transparent;
  outline: none;
  transition: color 0.5s linear;


  &:hover {
    color: $main-color;
    background: $white;
    border: 2px solid $main-color;
  }
}

