$small: 320px;
$medium: 768px;
$large: 1200px;

@mixin breakpoint($point) {
  @if $point==xs-only {
    @media screen and (max-width: #{$small - 1}) {
      @content;
    }
  } @else if $point==sm-up {
    @media screen and (min-width: $small) {
      @content;
    }
  } @else if $point==sm-only {
    @media screen and (min-width: $small) and (max-width: #{$medium - 1}) {
      @content;
    }
  } @else if $point==md-up {
    @media screen and (min-width: $medium) {
      @content;
    }
  } @else if $point==md-only {
    @media screen and (min-width: $medium) and (max-width: #{$large - 1}) {
      @content;
    }
  } @else if $point==lg-up {
    @media screen and (min-width: $large) {
      @content;
    }
  } @else {
    @media screen and (max-width: #{$point - 1}) {
      @content;
    }
  }
}
