$white: #fff;
$wildSand: #F4F4F4;
$alto : #D3D3D3;
$osloGray: #848E97;
$lavenderPurple: #8D81AC;
$smoky: #635C73;
$balticSea: #27262A;
$mineShaft: #323232;

$desc-text-color: $osloGray;
$main-color: $lavenderPurple;
$main-bgc-color: $wildSand;