$lato-font: 'Lato', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

$font-72: 72px;
$font-42: 42px;
$font-26: 26px;
$font-24: 24px;
$font-21: 21px;
$font-16: 16px;
$font-15: 15px;
$font-14: 14px;
