$lato-font: 'Lato', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

$font-82: 82px;
$font-72: 72px;
$font-54: 54px;
$font-48: 48px;
$font-42: 42px;
$font-36: 36px;
$font-32: 32px;
$font-30: 30px;
$font-28: 28px;
$font-26: 26px;
$font-24: 24px;
$font-21: 21px;
$font-18: 18px;
$font-16: 16px;
$font-15: 15px;
$font-14: 14px;
$font-12: 12px;